
*{
    text-align: center;
}
form{
    width:40%;
    margin: auto;
}
h1{
    color:purple;
}
h2{
    font-size: 13px;
}
.submit{
    background-color: blueviolet;
    color:white;
    width: 15%;
}
input{
    width:40%;
}